# Without Arguments

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('../hacking-pandas/messy_stock_data.tsv')
df.head(4)

                                                   The following stock data was collect on 2016-AUG-25 from an unknown source
These kind of ocmments are not very useful                                                  are they?
probably should just throw this line away too          but not the next since those are column labels
name Jan Feb Mar Apr May Jun Jul Aug Sep Oct No...                                                NaN
# So that line you just read has all the column...                                                NaN

# With Arguments

In [5]:
df = pd.read_csv('../hacking-pandas/messy_stock_data.tsv', header=3, delimiter=' ', comment='#', index_col=False, usecols=[0,1,2,3,4,5])
df.head(4)

     name     Jan     Feb     Mar     Apr     May
0     IBM  156.08  160.01  159.81  165.22  172.25
1    MSFT   45.51   43.08   42.13   43.47   47.53
2  GOOGLE  512.42  537.99  559.72  540.50  535.24
3   APPLE  110.64  125.43  125.97  127.29  128.76