In [5]:
import pandas as pd
import sqlalchemy as db

In [6]:
connection = db.engine.connect()

AttributeError: module 'sqlalchemy.engine' has no attribute 'connect'

# Querying

In [136]:
query = db.select([census]).where(db.and_(census.columns.state == 'California', census.columns.sex != 'M'))
result = connection.execute(query).fetchall()
result[:3]

[('California', 'F', 0, 239605, 274356),
 ('California', 'F', 1, 236543, 269140),
 ('California', 'F', 2, 240010, 262556)]

In [141]:
query = db.select([census.columns.state, census.columns.sex]).order_by(db.desc(census.columns.state))
result = connection.execute(query).fetchall()
result[:3]

[('Wyoming', 'M'), ('Wyoming', 'M'), ('Wyoming', 'M')]

In [138]:
query = db.select([census]).order_by(db.desc(census.columns.state), census.columns.pop2000)
result = connection.execute(query).fetchall()
result[:3]

[('Wyoming', 'M', 84, 490, 643),
 ('Wyoming', 'M', 83, 515, 726),
 ('Wyoming', 'M', 82, 634, 792)]

In [152]:
query = db.select([db.func.max(census.columns.pop2008)])
result = connection.execute(query).scalar()
result

400288

In [167]:
query = db.select([db.func.sum(census.columns.pop2008).label('pop2008'), census.columns.sex]).group_by(census.columns.sex)
result = connection.execute(query).fetchall()
result

[(153959198, 'F'), (148917415, 'M')]

# Convert to DataFrame

In [175]:
query = db.select([census.columns.state.distinct()])
result = connection.execute(query).fetchall()
result[:3]

df = pd.DataFrame(result)
df.columns = result[0].keys()
df.head(2)

        state
0    Illinois
1  New Jersey